html, body {
  height: 100%;
}

body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
  background-color: rgb(85, 25, 98);
}

.content1 {
display: flex;
  justify-content: center;
  min-height: 90%;
  position: relative;
  margin-bottom: 50px;
}

.container {
  align-self: center;
  height: fit-content;
  width: 300px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(146, 103, 156);
  box-shadow: 0px 0px 5px;
}

.screen {
  width: auto;
  min-height: 80px;
  margin: 8px 8px 3px 8px;
  background-color: rgb(235, 198, 196);
  border: 1px solid rgb(74, 10, 88);
  border-radius: 5px;
  box-shadow: inset 0px 0px 5px;
}

#top-text {
  min-height: 20px;
  text-align: end;
  font-size: 16px;
  margin: 13px;
  word-break: break-all;
}

#bottom-text {
  min-height: 24px;
  text-align: end;
  font-size: 20px;
  margin: 13px;
  word-break: break-all;
}

.button-row1,
.button-row2,
.button-row3,
.button-row4,
.button-row5 {
  display: flex;
}

button {
  flex: 1;
  height: 65px;
  margin: 3px;
  border-radius: 5px;
  background-color: rgb(198, 168, 205);
  font-size: 16px;
}

button:hover {
  background-color: rgb(184, 156, 191);
}

button:active {
  background-color: rgb(158, 133, 164);
}


.btn-left {
  margin-left: 8px;
}

.btn-right {
  margin-right: 8px;
  font-size: 18px;
}

.btn-right-large {
  margin-right: 8px;
  margin-bottom: 8px;
  flex: 2.42;
}


.light {
  background-color: rgb(135, 233, 131);
}

.light:hover {
  background-color: rgb(127, 221, 124);
}

.light:active {
  background-color: rgb(118, 205, 115);
}


.light2 {
  background-color: rgb(201, 233, 131);
}

.light2:hover {
  background-color: rgb(189, 220, 123);
}

.light2:active {
  background-color: rgb(175, 204, 114);
}


.dark {
  background-color: rgb(233, 187, 131);
}

.dark:hover {
  background-color: rgb(220, 176, 123);
}

.dark:active {
  background-color: rgb(206, 165, 115);
}


footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(235, 198, 196);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}


@media only screen and (max-height: 510px) {

  html {
    height: initial !important;
    min-height: 100%;
    position: relative;
  }

  body {
    margin-bottom: 50px !important;
  }

  footer {
    position: absolute !important;
  }
}
